<style>
    .flex-container.small > li {
        font-size: small;
        color: rgba(0, 0, 0, 0.75);
        font-weight: lighter;
        border: solid 1px rgba(0, 0, 0, 0.20);
        border-radius: .25em;
        padding: .25em .5em;
        display: flex;
    }
    
    .flex-container.small > li > i {
        margin-left: auto;
        cursor: pointer;
        padding: .25em;
    }
</style>
<form method="post" class="form form-vertical" ng-submit="saveDepartment()">
    <div class="form-msg" ng-show="error">{{error}}</div>
    <div class="form-group form-vertical">
        <label for="zone-type" class="control-label">Enter department name</label>
        <div class="input-group">
            <input type="text" name="name" value="" class="form-control" ng-model="department.name" />
            <button type="button" class="btn form-control-add-on" style="padding: .25em 1.5em;" ng-click="addDepartment()">Add</button>
        </div>
    </div>
    <h5 style="color: rgba(0, 0, 0, 0.75); font-weight: lighter; margin: .5em 0 .25em 0">Department(s)</h5>
    <ul class="flex-container small" style="max-height: 25em; margin-bottom: 1em">
        <li ng-repeat="department in deletedDepartments" style="background-color:rgba(231, 76, 60,.25)">{{department.name}}<i class="fa fa-times" aria-hidden="true" ng-click="deleteDepartment(department)"></i></li>
        <li ng-repeat="department in newDepartments" style="background-color:rgba(52, 152, 219,.25)">{{department.name}}<i class="fa fa-times" aria-hidden="true" ng-click="deleteDepartment(department)"></i></li>
        <li ng-repeat="department in departments">{{department.name}}<i class="fa fa-times" aria-hidden="true" ng-click="deleteDepartment(department)"></i></li>
    </ul>
    <input type="submit" class="btn btn-sm btn-primary" name="name" value="Save" />
</form>